/* get font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*override everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #656565;
   
}

body{
  margin: 20px;
  padding:0%;
}



/*format font in header*/
header li, a, button{
  font-weight: 300;
  color: 656565;
  text-decoration: none;
 
  
}
/* adjust menu to right and logo to left */
header{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top:0px;
}


/* get logoText to left */
.logo{
  cursor: pointer;
  font-weight: 800;
  font-family: Poppins;
  margin-right: auto;
  z-index: -2;
  width: 50%;
}


/* distribute navlinks in line */
.nav_links li{ 
 display: inline-block;
 font-size: 1.5 vw;
 min-height: 3vh;
 margin-top:14px;;
}
.nav_links li:nth-child(4){
  padding-right: 1rem;
 }




/*transition to navlinks*/
.nav_links a {
    transition: all 0.3s ease 0s;
}

a:visited {
  color: #656565;
  text-decoration: none;
}

.nav_links a:hover {
  transition: all 0.3s ease 0s;
  color: green;
 font-weight: 500;
}

button{
  background-color: green;
  cursor: pointer;
  color: white;
  border: 2px solid green;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-radius:70px;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.closebtn{
  display: none;
}

button:hover, button:active {
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius:70px;
  transition: all 0.3s ease-in ;
  overflow-block: scroll;

  }



.toggleBtn{
  display: none;
  width: 10%;
  z-index: -1;
 }

 

.toggleBtn .bar{
height: 4px;
width: 4vw;
background-color: green;
justify-content: space-between;
position: relative;
margin: 1.5px 0;
border-radius: 10px;

    

@media screen and (max-height: 700px) {
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: green;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}}